.roundabout-more-info{top:0!important;}

.btn {
    padding-top:1px;
}

.twitter-links-t p {
    height:20px;
    padding:5px 7px 0;
}
.blog-right-center {
    padding:22px 9px 0;
    height:47px;
}

.log_in_link {margin-top: -1px!important;}