ul.tabs {width:99.8%;}
.log_in_link {margin-top: -1px!important;}
.form-content input#user_username, .form-content input#user_email, .form-content input#user_website, .form-content input#contact_email, .form-content input#contact_website {width: 420px;}